<div class="load-in admin-panel">
    <h1>Climate Panel</h1>
    <p>This is where the admin adds and alters Climates</p>
    <div class="admin-panel-list" [@listAnimation]="Climates.length">
            <div class="admin-list-item border"
            *ngFor="let climate of Climates">
            <div *ngIf="expandId != climate.id" class="admin-list-item-content">
                <h1 class="id">{{climate.id}}</h1>
                <h1 class="info">{{climate.info}}</h1>
                <button class="alter btn secondary submit-button" (click)="setExpand(climate.id)"><i class="fas fa-cog"></i></button>
            </div>
            <form *ngIf="expandId == climate.id" class="admin-list-item-content"
            [formGroup]="ClimateFormChange" (ngSubmit)="updateClimate()">
            <button class="exit btn" (click)="setExpand(0)"><i class="fas fa-times"></i></button>
            <input #edit type="text" formControlName="ClimateName" [placeholder]="climate.info">
            <button class="btn submit-button" type="submit" [disabled]="!ClimateFormChange.valid"><i class="fas fa-check"></i></button>
        </form>
    </div>
    <button class="add load-up btn submit-button" (click)="addTempClimate()"><i class="fas fa-plus"></i></button>
    </div>
</div>