<div id="contact" class="load-in">
    <div class="intro">
        <h1>Contact us</h1>
        <p>If you absolutely must</p>
    </div>
    <ul>
        <li class="border">Tor-Bastian Hansen
            <span>11 11 11 11</span>
            <span>tor@plants.com</span>
        </li>
        <li class="border">Francis Owen
            <span>22 22 22 22</span>
            <span>francis@plants.com</span>
        </li>
        <li class="border">Philip Leo
            <span>33 33 33 33</span>
            <span>philip@plants.com</span>
        </li>
    </ul>
</div>