#user-panel {
    max-width: 450px;
    margin: auto;
}

#user-panel>h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.panel ul {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-bg-darker);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel ul li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 25px;
    margin-right: 5px;
}

.panel ul li .btn {
    margin-bottom: 0;
}

.panel ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}

.panel .username {
    font-weight: bold;
}

.panel .id {
    color: var(--main-text-lighter);
}

.btn.submit-button.add {
    width: 100%;
}

.mini-plant {
    margin-bottom: 10px;
}

section h2 {
    margin: 10px 0;
}

p.a-type {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    color: var(--main-bg-color);
}

p.Approved {
    background-color: var(--strong-accent);
}

p.Pending {
    background-color: var(--submit);
}

p.Denied {
    background-color: var(--negative);
}