<div [@listAnimation]="Objects.length" class="list-container">
    <div id="list-controls">
        <button id="reverse" class="btn tooltip-left" data-text="Reverse" (click)="reverseOrder()">
                <i [ngClass]="{'fa-arrow-up' : !reverse, 'fa-arrow-down' : reverse}" class="fas"></i>
        </button>
    </div>
    <ng-container *ngIf="listType != 'plants'; else plantBlock">
    <div class="list-item border tooltip" [attr.data-text]="object.id" *ngFor="let object of Objects">
            <p>{{object.info}}</p>
        </div>
    </ng-container>
    <ng-template #plantBlock>
        <app-plant [plant]="plant" class="pointer-child" *ngFor="let plant of Objects"></app-plant>
    </ng-template>
</div>