.list-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 80vw;
    max-width: 500px;
    margin: auto;
}

.list-item {
    min-width: 60%;
    max-width: 250px;
    margin: 5px 0;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-text-color);
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#list-controls {
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--main-bg-darker);
    margin-bottom: 20px;
}

#list-controls .btn {
    margin-bottom: 0;
    margin-left: auto;
    max-width: min-content;
}

#list-controls .btn:active {
    transform: scale(0.8);
}

#list-controls .btn:hover {
    color: var(--strong-accent);
}

#list-controls #reverse {
   grid-column: 2;
}

#list-controls .filter{
    grid-column: 1;
}

.filter {
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--main-bg-darker);
    padding-right: 10px;
}

.filter h2 {
    margin-right: 10px;
    border-right: 1px solid var(--main-bg-darker);
    padding-right: 10px;
    cursor: pointer;
}

.dropdown-filter {
    width: 150px;
    box-sizing: border-box;
}

.dropdown-button {
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 24px;
    width: 100%;
    transition: border 0.2s ease-in-out;
    border-bottom: 1px solid var(--main-bg-darker);
}

.dropdown-button i {
    font-size: 14px;
    margin-left: 3px;
}

.dropdown-button:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--main-text-color);
}

.dropdown-content {
    z-index: 1;
    list-style: none;
    position: absolute;
    font-size: 24px;
    width: 150px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border-left: 1px solid var(--main-bg-darker);
    border-right: 1px solid var(--main-bg-darker);
    border-bottom: 1px solid var(--main-bg-darker);
}

.dropdown-content li {
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-content li:hover {
    background-color: var(--main-bg-darker);
    cursor: pointer;
}

.dropdown-content li:nth-child(even) {
    border-bottom: 1px solid var(--main-bg-darker);
}

.dropdown-content li:first-child {
    display: none;
}

.dropdown-content.hidden {
    display: none;
}