.list-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 80vw;
    max-width: 500px;
    margin: auto;
}

.list-item {
    min-width: 60%;
    max-width: 250px;
    margin: 5px 0;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-text-color);
    text-align: center;
    transition: all 0.2s ease-in-out;
}

#list-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid var(--main-bg-darker);
    margin-bottom: 20px;
}

#list-controls .btn {
    margin-bottom: 0;
}

#list-controls .btn:hover {
    color: var(--strong-accent);
}