#about {
    text-align: center;
}

.intro {
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 24px;
}

.intro p {
    font-size: 20px;
    color: var(--main-text-lighter);
}

#about h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#about p {
    font-size: 18px;
    max-width: 500px;
    margin: auto;
}