<div class="form-group load-in">
    <h1>Image Upload</h1>
    <form id="article-form" [formGroup]="ArticleForm" (ngSubmit)="post()">
        <img id="source-image" [src]="url" alt=" ">

        <label>Id:</label>
        <input type="number" formControlName="PlantID">

        <input id="article-file" class="input-file" type="file" formControlName="Image" (change)="onFileChanged($event)">
        <label class="btn border" for="article-file">Upload Image</label>

        <button class="btn submit-button" type="submit" [disabled]="!ArticleForm.valid">Post</button>
    </form>
</div>