.plant-image {
    width: 250px;
    max-width: 70vw;
    /*height: 250px;*/
    height: 0;
    border-radius: 6px;
    object-fit: cover;
    background-color: var(--strong-accent);
    opacity: 0;
}

.plant-placeholder {
    width: 250px;
    max-width: 70vw;
}

.username {
    color: var(--main-text-lighter);
    margin: 5px 0;
}

.plant {
    padding: 10px;
    background-color: var(--main-bg-color);
    margin: 10px 0;
}

.image-load {
    animation: image-load 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes image-load {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 100%;
        height: 250px;
    }
}