<div id="admin-panel" class="load-up">
    <div id="admin-navigation">
        <ul class="link-list">
            <li class="link" [routerLink]="['approval', {id: '2'}]" routerLinkActive="active"><i class="fas fa-clipboard-check"></i></li>
            <li class="link" [routerLink]="['climates']" routerLinkActive="active" ><i class="fas fa-cloud-sun-rain"></i></li>
            <li class="link" [routerLink]="['types']" routerLinkActive="active"><i class="fas fa-tree"></i></li>
            <li class="link" [routerLink]="['edibles']" routerLinkActive="active"><i class="fas fa-utensils"></i></li>
            <li class="link" ><i class="fas fa-tree"></i></li>
        </ul>
    </div>
    <div id="panel">
        <router-outlet></router-outlet>
    </div>
</div>