#admin-navigation {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid var(--main-bg-darker);
}

::-webkit-scrollbar-track
{
	background-color: var(--main-bg-darker);
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb
{
	background-color: vaR(--main-text-lighter);
}

.link-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    margin: auto;
}

.link {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 50px;
    min-width: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--main-bg-darker);
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.link:hover {
    background-color: var(--main-bg-darker);
    color: var(--strong-accent);
}

.link.active {
    color: var(--main-bg-color);
    background-color: var(--strong-accent);
    margin-bottom: 0;
    padding-bottom: 20px;
    border-radius: 8px 8px 0 0;
    border: none;
}

#panel {
    padding: 10px;
    min-height: 70vh;
}