<div id="article" class="load-in">
    <h1 class="title" *ngIf="loaded">{{plant.info}}</h1>
    <h1 class="title" *ngIf="notFound">Article Not Found</h1>
    <app-plant id="article-plant" *ngIf="plant != null" [plant]="plant"></app-plant>
    <div *ngIf="loaded" id="article-content">
        <p>{{article.text}}</p>
        <p class="tip" *ngIf="article.tips != ''">
            <span>Tip:</span>
            {{article.tips}}
        </p>
    </div>
    <app-comments *ngIf="article != null && article.id != undefined" [ArticleID]="article.id"></app-comments>
</div>