#article {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    max-width: 500px;
    margin: auto;
}

#article-plant {
    justify-self: center;
}

.title {
    margin: 15px 0;
    padding: 5px;
    border-bottom: 1px solid var(--main-bg-darker);
}

#article-content {
    margin: 10px 0;
}

#article-content p {
    margin: 15px 0;
}

.tip {
    background: var(--main-bg-darker);
    color: var(--main-text-lighter);
    padding: 10px;
    border-radius: 8px;
}