.comment-title {
    padding: 10px 0;
    border-bottom: 1px solid var(--main-bg-darker);
}

.comment {
    padding: 10px 0;
    margin: 10px 0;
}

.username {
    font-size: 19px;
}

.comment-content {
    padding: 10px 0 15px 5px;
    border-bottom: 1px solid var(--main-bg-darker);
    transition: border 0.2s ease-in-out;
}

.comment:hover .comment-content{
    border-bottom: 1px solid var(--main-text-color);
}