header {
    border-bottom: 1px solid var(--main-bg-darker);
    top: 0;
    position: sticky;
    z-index: 100;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

#nav-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 60px;
    max-width: 750px;
    margin: auto;
    padding: 10px;
}

#logo {
    height: 100%;
    transition: color 0.2s ease-in-out;
}

#logo:hover {
    cursor: pointer;
    color: var(--strong-accent);
}

.active#expandable {
    display: flex;
}

nav button {
    height: 100%;
    width: 50px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: var(--main-text-color);
    transition: color 0.2s ease-in-out;
}

nav button i.fas {
    vertical-align: -2px;
}

nav button:hover {
    color: var(--strong-accent);
    cursor: pointer;
}

#expandable {
    display: none;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: transparent;
    margin-top: 60px;
    justify-content: flex-end;
    background-color: var(--main-bg-color);
}

#padder {
    width: 100%;
    background-color: transparent;
}

.active#expandable #link-container {
    animation: top-down 0.2s ease-out;
}

#expandable #link-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    height: calc(100vh - 60px);
    background-color: var(--main-bg-color);
}

.headerboxes, .searchbar {
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    min-height: 20px;
    transition: 0.2s all;
}

.sub {
    list-style-type: none;
}

.sub .headerboxes {
    font-size: 16px;
    color: var(--main-text-lighter);
    cursor: pointer;
}

.searchbar {
    color: var(--main-text-color);
    border: none;
    margin: 0 10px;
    max-width: 250px;
    border-bottom: 1px solid var(--main-bg-darker);
}

.searchbar:focus {
    border-bottom: 1px solid var(--main-text-color);
}

.headerboxes.active, .headerboxes.active:visited {
    color: var(--main-bg-color);
    background-color: var(--strong-accent);
}

.headerboxes:hover, .headerboxes:hover:visited {
    background-color: var(--main-bg-darker);
    color: var(--main-text-color);
    transform: scale(1.1);
}

.headerboxes, .headerboxes:visited {
    color: var(--main-text-color);
}

@keyframes top-down {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateX(0);
    }
}