header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: var(--accent-color-1);
    z-index: 100;
    border-bottom: 1px solid var(--accent-color-3);
    box-sizing: border-box;
    height: 60px;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.active#expandable {
    display: flex;
    animation: left-in 0.2s ease-out;
}

nav button {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 1.4em;
    background-color: var(--accent-color-3);
    color: var(--main-bg-color);
}

#expandable {
    display: none;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 80vw;
    max-width: 400px;
    position: fixed;
    background-color: var(--accent-color-3);
    margin-top: 60px;
    right: 0;
}

.headerboxes, .searchbar {
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    min-height: 20px;
    transition: 0.2s all;
    color: var(--main-bg-color);
}

.searchbar {
    color: var(--main-text-color);
}

.headerboxes.active {
    border-left: 5px solid var(--accent-color-1);
}

.headerboxes:hover, .headerboxes:hover:visited {
    background-color: var(--accent-color-1);
    color: var(--main-text-color);
}

.headerboxes:visited {
    color: var(--main-bg-color);
}

@keyframes left-in {
    0% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}