<header>
  <img (click)="active = false" [routerLink]="[ 'Home' ]" src="../../assets/Home.png" id="logo" />
  <nav>
    <button (click)="active = !active">=</button>
  </nav>
  <div id="expandable" [ngClass]="{
      'active' : active
    }">
    <a class="headerboxes" (click)="active = false" [routerLink]="[ 'Home' ]" routerLinkActive="active">Home</a>
    <a class="headerboxes" (click)="active = false" href="">Explore</a>
    <a class="headerboxes" (click)="active = false" [routerLink]="[ 'Types' ]" routerLinkActive="active">Types</a>
    <input class="searchbar" type="text" placeholder="Search.." />
    <a class="headerboxes" (click)="active = false" [routerLink]="[ 'Login' ]" routerLinkActive="active">Login</a>
    <a class="headerboxes" (click)="active = false" [routerLink]="[ 'Article-Creator' ]" routerLinkActive="active">Article Creator TEMP</a>
  </div>
</header>