header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-darker);
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

#logo {
    height: 100%;
    transition: color 0.2s ease-in-out;
}

#logo:hover {
    cursor: pointer;
    color: var(--strong-accent);
}

.active#expandable {
    display: flex;
    animation: left-in 0.2s ease-out;
}

nav button {
    height: 100%;
    width: 50px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: var(--main-text-color);
    transition: color 0.2s ease-in-out;
}

nav button i.fas {
    vertical-align: -2px;
}

.fa-angle-right {
    animation: left-in 0.2s ease-out;
}

nav button:hover {
    color: var(--strong-accent);
    cursor: pointer;
}

#expandable {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 60px);
    width: 80vw;
    max-width: 400px;
    background-color: var(--main-bg-color);
    border-left: 1px solid var(--main-bg-darker);
    margin-top: 60px;
    box-shadow: var(--shadow) -11px 1px 9px -4px;
}

.headerboxes, .searchbar {
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    min-height: 20px;
    transition: 0.2s all;
}

.sub {
    list-style-type: none;
}

.sub .headerboxes {
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
}

.searchbar {
    color: var(--main-text-color);
    border: none;
    margin: 0 10px;
    border-bottom: 1px solid var(--main-bg-darker);
}

.searchbar:focus {
    border-bottom: 1px solid var(--main-text-color);
}

.headerboxes.active {
    border-left: 5px solid var(--strong-accent);
}

.headerboxes:hover, .headerboxes:hover:visited {
    background-color: var(--main-bg-darker);
    color: var(--main-text-color);
    border-left: 3px solid var(--strong-accent);
    font-weight: 600;
}

.headerboxes, .headerboxes:visited {
    color: var(--main-text-color);
}

@keyframes left-in {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}