<header>
  <img href="" src="../../assets/Home.png" id="logo" />
  <nav>
    <button (click)="active = !active">=</button>
  </nav>
  <div id="expandable" [ngClass]="{
      'active' : !active
    }">
    <a class="headerboxes" href="">Explore</a>
    <a class="headerboxes" [routerLink]="[ 'Types' ]" routerLinkActive="active">Types</a>
    <form class="headerboxes" href="">
      <input type="text" class="searchbar" placeholder="Search.." />
    </form>
    <a class="headerboxes" href="">Login</a>
  </div>
</header>