/* You can add global styles to this file, and also import other style files */
:root {
    --main-text-color: #000000;
    --main-text-lighter: #5c5c5c;

    --main-bg-color:#FFF;
    --main-bg-darker: #d6d6d6;
    --strong-accent: #5CDB95;

    --submit: #06f;
    --submit-hover:#0358d8; 

    --input-shade-1: #f9f9f9;
    --input-shade-2: #cecdcd;

    --shadow: #555555;
}

* {
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

*:focus {
    outline:none;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--strong-accent);
}

body {
    color: var(--main-text-color);
}

html {
    background: var(--main-bg-color);
}

#content {
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 200px);
    width: 100%;
    overflow: hidden;
}

.btn {
    background: 0 0;
    border-radius: 6px;
    outline: none;
    border: none;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.border {
    border: 1px solid var(--main-bg-darker);
    border-radius: 6px;
}

.border:hover {
    border: 1px solid var(--main-text-lighter);
}

.btn.border:hover {
    border: 1px solid var(--main-text-lighter);
    box-shadow: var(--shadow) 0 1px 3px 1px;
}

.btn.border:active {
    border: 1px solid var(--main-text-lighter);
    box-shadow: inset var(--shadow) 0 2px 4px 2px;
}


.submit-button {
    background-color: var(--submit);
    color: white;
    border: none;
}

.submit-button:hover:enabled {
    background-color: var(--submit-hover);
}

.btn:disabled {
    opacity: 60%;
    cursor: default;
}

.tooltip:hover::before {
    content: attr(data-text);
    position: absolute;

    margin-top: 25px;
    margin-left: 20px;

    text-align: center;
    pointer-events: none;

    background: var(--main-bg-darker);
    color: var(--main-text-lighter);

    font-size: 14px;
    border-radius: 0 6px 6px 6px;
    padding: 5px;
    animation: tooltip-fade 1s ease-in-out;
}

.load-in {
    animation: load-in 0.5s ease-in-out;
}

.fade-in {
    animation: fade-in 0.2s ease-in-out;
}

@keyframes load-in {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 100%;
    }
}

@keyframes tooltip-fade {
    0%, 50% {
        opacity: 0;
    }

    60% {
        opacity: 100%;
    }
}